
.intro {
    min-height: 2000px;
    width: 100%;
    background: url('imgs/bg-home.jpg') no-repeat;
    background-size: 100% 106%;
    position: relative;

    .text {
        position: absolute;

        h3, p {
            color: white;
            font-size: 32px;
            background: rgba(23, 60, 84, 0.7);
            margin-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;
        }

        p {
            font-size: 18px; 
            line-height: 28px;
            font-weight: lighter;
        }

        &.one {
            top: 400px;
        }

        &.two {
            top: 1050px;
        }

        &.three {
            top: 1700px;
        }
    }
}

.section-departamentos{
    background: $sec-color;
    padding: $padding * 3 0;

    h2 {
        text-transform: uppercase;
        font-size: 24px;
    }
}

.section-amenidades {
    background: #00577f;
    background: -moz-linear-gradient(top, #00577f 0%, #4ec4d8 100%);
    background: -webkit-linear-gradient(top, #00577f 0%,#4ec4d8 100%);
    background: linear-gradient(to bottom, #00577f 0%,#4ec4d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00577f', endColorstr='#4ec4d8',GradientType=0 );
    padding: $padding * 3 0;

    h2 {
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: $margin * 3;
    }
}

.section-galeria {
    background: #00577f;
    background: -moz-linear-gradient(top, #00577f 0%, #4ec4d8 100%);
    background: -webkit-linear-gradient(top, #00577f 0%,#4ec4d8 100%);
    background: linear-gradient(to bottom, #00577f 0%,#4ec4d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00577f', endColorstr='#4ec4d8',GradientType=0 );
    padding: $padding * 3 0;

    h2 {
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: $margin * 3;
    }

    .gallery-item-wrapper {
        margin-bottom: $margin * 2;
    }
}

.section-ubicacion {
    background: $sec-color;
    padding: $padding * 3 0 0 0;

    h2 {
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: $margin * 2;
    }

    .map {
        iframe {
            width: 100%;
            min-height: 435px;
        }
    }
}

.section-contacto {
    background: $sec-color;
    padding: $padding * 3;

    h2 {
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: $margin;
    }

    form {
        text-align: center;

        input[type="text"], input[type="email"] {
            width: 97%;
            line-height: 25px;
            padding: 0 1%;
        }

        textarea {
            width: 97.5%;
            padding: 5px 1%;
            resize: none;
        }

        input[type="submit"] {
            margin-top: 20px;
            line-height: 31px;
            padding: 0 20px;
        }
    }
}