
.intro {
    min-height: 2000px;
    width: 100%;
    background: url('imgs/bg-home.jpg') no-repeat;
    background-size: 100%;
    position: relative;

    .text {
        position: absolute;

        h3, p {
            color: white;
            font-size: 32px;
            background: rgba(23, 60, 84, 0.7);
            margin-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;
        }

        p {
            font-size: 18px; 
            line-height: 28px;
            font-weight: lighter;
        }

        &.one {
            top: 400px;
        }

        &.two {
            top: 1050px;
        }

        &.three {
            top: 1700px;
        }
    }
}

.section-departamentos{
    background: #173c54;
    padding: $padding 0;

    h2 {
        text-transform: uppercase;
        font-size: 24px;
    }
}