// Header

.main-header {
    position: absolute;
    width: 100%;
    padding: $padding 0;
    top: 0;
    z-index: 1;

    h1 {
        width: 218px;
        height: 130px;
        background: url('imgs/sayabes-logo.png');

        a {
            display: inline-block;
            text-indent: -99999px;
        }
    }

    .main-width {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-info {
        margin-left: auto;

        .social-media {
            display: flex;
            margin-bottom: 10px;

            .social {
                margin-left: 10px;

                &.facebook {
                    margin-left: auto;
                }
            }
        }

        .call-us {
            margin-bottom: $margin;
            
            p {
                text-transform: uppercase;
            }
            span {
                background: url('imgs/icon-phone.png') no-repeat;
                padding-left: $padding;
                margin-left: 8px;
                display: inline-block;
            }
        }
    }

    .btn-menu {
        position: absolute;
        top: 170px;
    }
}


@media screen and (max-width: 768px) {
    .main-header {
        h1 {
            background-size: 100% auto;
            background-repeat: no-repeat;
            width: 180px;
            height: 108px;
        }
    }
}

@media screen and (max-width: 600px) {
    .main-header {

        h1 {
            width: 146px;
            height: 89px;
        }

        .contact-info {
            width: 50%;

            .call-us {
                text-align: right;
            }
        }

        .btn-menu {
            top: 125px;
        }
    }
}