// Header

.main-header {
    position: fixed;
    background: $sec-color;
    width: 100%;
    padding: $padding 0;
    top: 0;
    z-index: 2;

    h1 {
        width: 171px;
        height: 142px;
        background: url('imgs/sayabes-logo-2.png') no-repeat;
        position: relative;

        a {
            text-decoration: none;
            font-weight: lighter;
            position: absolute;
            bottom: 0;
            width: 100%;

            .log1 {
                font-size: 86%;
                border-bottom: 1px solid white;
                padding-bottom: 5px;
                margin-bottom: 5px;
                text-transform: uppercase;
            }
            .log2 {
                font-size: 77%;
            }
        }
    }

    .main-width {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-info {
        margin-left: auto;

        .social-media {
            display: flex;
            margin-bottom: 10px;

            .social {
                margin-left: 10px;

                &.facebook {
                    margin-left: auto;
                }
            }
        }

        .call-us {
            margin-bottom: $margin;
            
            p {
                text-transform: uppercase;
            }
            span {
                background: url('imgs/icon-phone.png') no-repeat;
                padding-left: $padding;
                margin-left: 8px;
                display: inline-block;
            }
        }
    }

    .btn-menu {
        position: absolute;
        top: 185px;
        z-index: 1;
    }
}

@media screen and (max-width: 600px) {
    .main-header {

        h1 {
            width: 171px;
            background-size: 67% auto;
            height: 110px;
        }

        .contact-info {
            width: 50%;

            .call-us {
                text-align: right;
            }
        }

        .btn-menu {
            top: 152px;
        }
    }
}

@media screen and (max-width: 480px) {
    .main-header {

        h1 {
            width: 150px;
            background-size: 75% auto;

            a {
                .log1 {
                    font-size: 75%;
                }
                
                .log2 {
                    font-size: 67%;
                }
            }
        }
    }
}