.main-nav {
    background: $sec-color;
    height: 100%;
    min-height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    min-width: 270px;
    overflow: hidden;
    padding: $padding;
    margin-left: -300px;

    .btn-close {
        float: right;
    }

    .menu {
        padding-top: 50px;

        ul {

            li {
                margin-bottom: 30px;

                a {
                    color: white;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-size: 17px;
                }
            }
        }
    }
}

// Dots nav
.dots-nav {
    position: fixed;
    z-index: 1;
    top: 45%;
    left: 13%;

    ul {

        li {
            width: 11px;
            height: 11px;
            margin-bottom: 7px;

            a{
                color: rgb(17, 13, 13);
                display: inline-block;
                width: 100%;
                text-indent: -99999px;
                background: #a7a9ac;
                width: 11px;
                height: 11px;
                border-radius: 2px;

                &.selected {
                    background: white;
                }
            }


        }
    }
}