// Buttons

.social-media {

    .social {
        width: 21px;
        height: 21px;
        display: inline-block;
        text-indent: -99999px;
        background-repeat: no-repeat;
        background-position: center;

        &.facebook {
            background-image: url('imgs/icon-facebook.png');
        }

        &.instagram {
            background-image: url('imgs/icon-instagram.png');
        }
    }
}

.btn-descarga-pdf {
    text-transform: uppercase;
    text-align: right;
    color: $text-color;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    
    &:hover {
        color: $text-color;
    }
}

.btn-left {
    width: 23px;
    height: 38px;
    background: url('imgs/icon-left.png');
    display: inline-block;
    text-indent: -99999px;
}

.btn-right {
    width: 23px;
    height: 38px;
    background: url('imgs/icon-right.png');
    display: inline-block;
    text-indent: -99999px;
}

.btn-menu {
    background: url('imgs/icon-menu.png');
    width: 54px;
    height: 45px;
    display: inline-block;
    text-indent: -99999px;
}

.btn-close {
    background: url('imgs/icon-close.png') no-repeat;
    background-position: 100%;
    color: white;
    text-transform: uppercase;
    height: 32px;
    display: inline-block;
    padding-right: 40px;
    line-height: 26px;
    text-decoration: none;

    &:hover {
        color: white;
    }
}