.owl-carousel {

    &.departamentos {

        .item {

            img {
                margin: 0 auto;
                margin-top: 25px;
                width: 88%;
            }
        }
    }
}