.owl-carousel {

    &.departamentos {

        .item {

            img {
                margin: 0 auto;
                margin-top: 25px;
                width: 88%;
            }

            .features {
                 h3 {
                     font-size: 20px;
                     margin-bottom: 10px;
                 }
            }
        }
    }

    &.amenidades {

        .item {
            width: 65%;
            margin: 0 auto;
            text-align: center;

            img {
                margin-bottom: $margin;
            }

            p {
                font-size: 16px;
                color: white;
            } 
        }
    }

    .owl-nav {
        display: block !important;

        .owl-prev {
            position: absolute;
            top: 45%;
            left: 0;
            opacity: 1;
        }

        .owl-next {
            position: absolute;
            top: 45%;
            right: 0;
            opacity: 1;
        }
    }
}

@media screen and (max-width: 600px) { 
    .owl-carousel {

        &.departamentos {

            .item {
                width: 90%;
                margin: 0 auto;
            }
        }

        &.amenidades {
            .item {
                width: 54%;
            }
        }
    }
}

@media screen and (max-width: 480px) {

}