// Cambia el color de la selección dentro de los navegadores en los navegadores que lo soportan

::-moz-selection{
	background: 			$sec-color;  // personalizar
	color: 					$main-color; 
	text-shadow: 			none;
}
::selection{
	background: 			$sec-color; // personalizar
	color: 					$main-color; 
	text-shadow: 			none;
} 
body, html{
	height: 				100%;
	position:				relative;
}
body{
	font-family: 			$main-font;
	font-weight:			lighter;
	font-size:				15px;
	color:					$text-color;
}
.main-width {
	max-width: 780px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}