// Variables

// Colors
$main-color:	    #675399; // purple
$sec-color: 		#6d6e70; // gray
$text-color:        #bcbec0;

// Margin
$padding: 			15px;
$margin: 			15px;

// Typography
$main-font: 		'Raleway', sans-serif;